{# templates/bundles/TwigBundle/Exception/error.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Erreur - Page inconnue</h1>
        <p>
            La page demandée est introuvable. <a href="/">retour à l'index</a>.
        </p>
    </div>
{% endblock %}